.text-center {
    text-align: center!important;
}
.light {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}
.pb-30 {
    padding-bottom: 30px!important;
}
.pt-0 {
    padding-top: 0!important;
}
section, header, footer {
    position: relative;
    z-index: 1;
}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fff;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
.dark .light, .light, .dark .light, .light {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}
.text-center {
    text-align: center!important;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fff;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    overflow-y: auto;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.bg-wrap, .nav-bg {
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg, .bg-wrap, .nav-bg {
    position: absolute;
    overflow: hidden;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
.dark .light, .light, .dark .light, .light {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}
.text-center {
    text-align: center!important;
}
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fff;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}