
element.style {
    vertical-align: inherit;
}

.col-lg-12, strong, h2 {
    font-family: Montserrat;
    color: rgb(73, 10, 13);
    line-height: 1.2;
    vertical-align: inherit;
}
.col-lg-12, h2 {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    text-align: center!important;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-size: 40px !important;
    font-weight: 300;
    font-style: normal;
    font-family: Montserrat;
    color: rgb(73, 10, 13);
}
.col-lg-12, b {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-weight: 700;
    text-align: center!important;
    line-height: 1.5;
    box-sizing: border-box;
    margin-top: 0;
    font-size: 100%;
    margin-bottom: 75px!important;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    
}
